* {
    font-family: 'DM Sans', sans-serif;
}
body{
    background-color: #fafbfe;
}
form{
    max-width: 9999px!important;
}
summary:hover,
button:hover{
    cursor: pointer;
}
button:disabled:hover{
    cursor: default;
}
input {
    width: 45%;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .005em;
    font-weight: 400;
}
label{
    font-weight: 700;
}


#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainHeading{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}
.calculator{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
    width: 80vw;
    padding: 0.6em;
    margin-bottom: 4em;
}

.calculator, input, button{
    font-style: normal;
    font-weight: 400;
}

.card{
    display: flex;
    flex-direction: column;
}
.inputLabels{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    margin-top: 0.6em;
}
.helpDiv{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.inputRow{
    display: flex;
    justify-content: space-between;
    margin: 0.6em 0 1.5em 0;
}


input,
output{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 6px;
    transition: .15s;
    padding: 8px 16px;
    height: 40px;
    border: 1px solid #d0d7f0;
    outline: 0;
    margin: 0 8px 0 0;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .005em;
}
input:focus,
input:hover,
input:active{
    outline: 0;
    border-color: #97a7f1;
    box-shadow: 0 0 0 4px #eff2f9;
}
.outputLabel{
    font-size: 13px;
    margin: 0.6em;
}
output{
    margin: 0.6em 0 1.5em 0;
}

.addButtonRow{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.buttonRow{
    display: flex;
    padding: 1.2em 0;
    justify-content: center;
    width: 100%;
}


.addBtn,
.disabledBtn,
.submit{
    border-radius: 6px;
    font-size: 14px;
}

.disabledBtn{
    border-style: solid;
    padding: 7px 15px;
}

.hide{
    display: none;
}

.submit{
    padding: 8px 16px;
    min-width: 40px;
    min-height: 40px;
}
.addBtn{
    padding: 8px;
}

.addBtn,
.submit{
    border: none;
    color: white;
    background-color: #1a3eca;
}
.addBtn:hover,
.submit:hover{
    background-color: #1d3694;
}


/* help button */
summary {
    list-style: none;
    font-size: 15px;
    padding: 0.3px 4.6px 0 4.6px;
    color: #1a3eca;
    border: 2px solid #1a3eca;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 700;
}
.helpButton:hover{
    border-color: #1d3694;
}

/* popover */
details {
    display: inline;
    position: relative;
}
details > summary:focus {
    outline: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details > summary + * {
    position: absolute;
    z-index: 1;
    border: none;
    background: white;
}
/* hide detail elements that would ruin the popover */
/* details > * + * { 
display: none;
} */

/* .popoverShadow{
    
    width: 100%;
    height: 100%;
    position: relative; 
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    justify-content: flex-end;
} */
.popover{
    top: calc(0.5rem + 100%);
    transform: translateX(-75%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    margin: 0.06em;
    width: 205px;
    box-shadow: 0px 4px 10px 1px #7e7e7e;
}
.popoverHeading{
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
}
.popoverBody{
    font-size: 12px;
    color: #676C7E;
    margin: 0px;
}


.red{
    color: rgb(175 17 17);
}
.black{
    color: black;
}
