* {
    font-family: "DMSans",serif;
}
body{
    background-color: #fafbfe;
}
form{
    max-width: 9999px!important;
}

.mainHeading{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
}
.calculator{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,.1);
    max-height: 700px;
}

.calculator, input, button{
    font-style: normal;
    font-weight: 400;
}

.card{
    display: flex;
}
.inputLabelDiv{
    display: flex;
    justify-content: space-between;
    margin: 0.6em;
}

.helpButton{
    padding: 8px 0;
    width: 40px;
    height: 24px;
    color: #1a3eca;
    border: 1px solid #1a3eca;
    border-radius: 6px;
}
.helpButton:hover{
    background-color: #1d3694;
    border-color: #1d3694;
}

input{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
    border-radius: 6px;
    transition: .15s;
    padding: 8px 16px;
    height: 40px;
    border: 1px solid #d0d7f0;
    outline: 0;
    margin: 0 8px 0 0;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: .005em;
}
input:active{
    outline: 0;
    border-color: #97a7f1;
    box-shadow: 0 0 0 4px #eff2f9;
}

.submit{
    background-color: #1a3eca;
}
.submit:hover{
    background-color: #1d3694;
}

.red{
    color: rgb(131, 7, 7);
}
.blue{
    color: #1d3694;
}